<h1>Welcome <%= "#{@customer.first_name} #{@customer.last_name}" %></h1>
<%= link_to "Logout", customer_signout_path %>
 | <%= link_to "View Menu", dishes_path %>
 | <%= link_to "View Tables", nil %>
