<h1>Welcome to Go Out!</h1>
<%= link_to "View Menu", menu_path %>
 | <%= link_to "New Customer", customer_signup_path %>
 | <%= link_to "Customer Login", customer_signin_path %>
 | <%= link_to "Employee Login", employee_signin_path %>
